.accordion {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	padding: 30px;
}

.accordion h1 {
	margin-bottom: 30px;
}

.accordion-dtls {
	width: 80%;
}

details {
	background-color: #DA2222;
	color: #fff;
	box-shadow: 1px 1px 14px -1px #000;
}

details div {
	padding: 1.5em;
	background-color: #eee;
	color: #000;
}

details div>*+* {
	margin-top: 1.5em;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
}

summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	background-color: #000;
	color: #FFF;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}



details[open] summary:before {
	content: "↑";
}


a {
	color: inherit;
	font-weight: 600;
	text-decoration: none;
	box-shadow: 0 1px 0 0;
}

a:hover {
	box-shadow: 0 3px 0 0;
}

code {
	font-family: monospace;
	font-weight: 600;
}