.falar-section {
    background-color: #DA2222;
    padding: 40px;
}

.best {
    color: #2B2A2A;
}

.falar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.falar h1 {
    font-size: 40px;
    width: 70%;
    text-align: center;
    margin-bottom: 5px;
}
.falar p {
    margin-bottom: 20px;
    font-size: 20px;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button {
    height: 60px;
    width: 300px;

    border-radius: 10px;
    border: none;

    background-color: #fff;
    color: #DA2222;
    box-shadow: 1px 5px 10px 0px #000;
    cursor: pointer;
}
