.falar-section {
    background-color: #DA2222;
    padding: 40px;
}

.best {
    color: #2B2A2A;
}

.falar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.falar p {
    font-size: 20px;
}

.button button {
    background-color: #fff;
    color: #DA2222;
    margin-top: -30px;
}