.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.header {
    background-color: #2B2A2A;
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.menu-links {
    display: flex;
}

.menu-links li {
    margin: 15px;
    color: #fff;
}