.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.header {
    position: fixed;
    background-color: #ffffff;
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    z-index: 100;
}


.header.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 1px;
    transition: height 0.3s ease-in-out;
}

.menu-toggle {
    display: none; /* Esconde o menu toggle por padrão */
    cursor: pointer;
}

.menu-icon {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
}

.menu-icon.open {
    transform: rotate(45deg);
}

.menu-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-links li {
    margin: 15px;
    color: #000000;
    cursor: pointer;
}

.active {
    display: flex;
    background-color: #DA2222;
    align-items: center;
    height: 40px;
}

.fff {
    color: #fff;
    text-decoration: none;
}

/* Media Query para telas pequenas */
@media (max-width: 768px) {
    .header {
        border-bottom-left-radius: none;
    }
    .menu-toggle {
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        z-index: 101; /* Garante que esteja acima do menu */
    }

    .menu-links {
        display: none; /* Esconde os links do menu por padrão */
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #ffffff;
        width: 100%;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }

    .menu-links.open {
        display: flex;
        flex-direction: column;
        
    }
}