.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.header {
    position: fixed;
    background-color: #2B2A2A;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    z-index: 100;
    box-shadow: 1px 4px 10px 1px #fff;
}

.header.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 1px;
    transition: height 0.3s ease-in-out;
  }

.menu-links {
    display: flex;
}

.menu-links li {
    margin: 15px;
    color: #fff;
}