* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

a, li {
    list-style: none;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

/* Estilizando o botão de rolagem na barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #d40606; /* Cor de fundo do botão de rolagem */
    border-radius: 5px; /* Raio da borda do botão de rolagem */
}

/* Estilizando a trilha da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
}
